* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.background {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 20%;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  animation: moveLogo 5s ease-in infinite;
  }

.container {
  position: absolute;
  width: 300px;
  height: 300px;
  inset: 0;
  margin: auto;
  border: 15px solid #f2f2f2;
  border-radius: 20%;
}

@keyframes moveLogo {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-30px);
  }
  50{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(30px)
  }
  100%{
    transform: translateY(0px);
  }
}

.lens {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 15px solid #f2f2f2;
  border-radius: 50%;
  inset: 0;
  margin: auto;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  right: 15px;
  top: 15px;
  border-radius: 50%;
}
